 /vendor
/docs/public
/example/chat/node_modules
/integration/node_modules
/integration/schema-fetched.graphql
/example/chat/package-lock.json
/example/federation/package-lock.json
/example/federation/node_modules
/codegen/gen
/gen

docker-compose/mysql/data
docker-compose/mysql/sql
server_setting.go
go.sum
.idea/
*.test
*.out